<h1>Bucketlists#index</h1>
<p>Find me in app/views/bucketlists/index.html.erb</p>

<%= link_to 'New b', new_bucketlist_path %>
<%= link_to 'Back', :back %>
<%= link_to 'Edit b', edit_bucketlist_path(@bucketlist) %>